html, body {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 12, 12);
    font-family: Arial;
    font-size: 18px;
}
address, footer {
    color: rgb(125, 133, 144);
    font-size: 14px;
}

code, table, tr, th, td, caption, fieldset, legend,input, textarea, button {
    color: rgb(11, 12, 12);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(177, 180, 182);
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    font-size: 16px;
}
tr:hover, th:hover, td:hover, input:hover, textarea:hover, button:hover, button:active {
    background-color: rgb(177, 180, 182);
}

code {
    background-color: rgb(177, 180, 182);
    border: 2px solid none;
    padding: 5px 5px;
    border: none;
}
button {
    padding: 8px 25px;
    border-radius: 10px;
    font-weight: bold;
}

hr {
    border-color: rgb(177, 180, 182);
}

:any-link {
    color: rgb(47, 129, 247);
}
:any-link:hover, :any-link:active {
    color: rgb(44, 102, 168);
}
