@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
    color: rgb(230, 237, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top left, rgb(12, 18, 27), rgb(10, 21, 44));
}

code, table, tr, th, td, caption, fieldset, legend, input, textarea, button, li, ul, hr {
    color: rgb(230, 237, 243);
    background-color: rgb(13, 17, 23);
    border: 2px solid rgb(48, 54, 61);
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(17, 24, 36), rgb(14, 20, 32));
}
tr:hover, th:hover, td:hover, input:hover, textarea:hover, button:hover, button:active, li:hover {
    background-color: rgb(58, 64, 71);
    border-color: rgb(110, 118, 129);
}
body table, body ul {
    background-image: linear-gradient(to top, rgb(11, 20, 36), rgb(11, 21, 44));
}
td a{
    display: block;
}
ul {
    padding-left: 25px;
    text-align: auto;
    margin-left: 30%;
    margin-right: 30%;
}

hr{
    padding: 0px 0px;
    border: 2px solid rgba(48, 54, 61, 0.5);
    background-image: linear-gradient(to right, rgba(15, 25, 41, 0.25), rgba(10, 21, 44, 0.25));
    background-color: rgb(12, 23, 44);
}

address, footer {
    color: rgb(125, 133, 144);
    font-size: 18px;
}
code {
    background-color: rgb(33, 38, 45);
    border: 2px solid rgb(13, 17, 23);
    padding: 5px 5px;
}

h1, h1 a:hover {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-decoration: none;
}
h2 {
    padding-top: 60px;
    font-size: 40px;
}
h3 {
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
p {
    text-align: auto;
    margin-left: 30%;
    margin-right: 30%;
}

:any-link {
    color: rgb(47, 129, 247);
    text-decoration: none;
}
:any-link:hover, :any-link:active {
    color: rgb(44, 102, 168);
    text-decoration: underline;
}
a abbr {
    text-decoration: none;
}

.limited {
    max-width: 200px;
}
